@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@for (int i = 1; i <= 10; i++)
{
    var index = i;
    <h1>
        <TimerCountdown End="@DateTime.Now.AddSeconds(index * 10)" Format="HH:mm:ss" Locale="ru-RU"/>
    </h1>
}
